img{
    height: 200px;
    width: 200px
}

a,p{
    font-family: 'Acme', sans-serif;
}
h1{
    font-family: 'Acme', sans-serif;
}
h5{
    font-family: 'Acme', sans-serif;
}

#artInfo{
    font-weight: bolder;
    font-size: xx-large;
    
}

#fbLink{
    font-size: 30px;
}

#message{
    float: right
}